[alias]
	st = status
	visited = "!f() { \
		git reflog |\
		grep -o 'checkout: moving from .* to ' |\
		sed -e 's/checkout: moving from //' -e 's/ to $//'  |\
		head -20; \
     		}; f"
	amend-to = "!f() { SHA=`git rev-parse \"$1\"`; git commit --fixup \"$SHA\" && GIT_SEQUENCE_EDITOR=true git rebase --interactive --autosquash \"$SHA^\"; }; f"
	
	# interactive rebase
	ir = "!f() { git rebase -i `git merge-base HEAD master`; }; f"
[user]
	email = aidan.gallagher@intl.att.com
	name = Aidan Gallagher
[credential]
	helper = store
[core]
	editor = code --wait
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[pull]
        rebase = true
