[alias]
	st = status
	
	# See previous branches you had checked out
	visited = "!f() { \
		git reflog |\
		grep -o 'checkout: moving from .* to ' |\
		sed -e 's/checkout: moving from //' -e 's/ to $//'  |\
		head -20; \
     		}; f"
		
	# Add changes to an older commit
	amend-to = "!f() { SHA=`git rev-parse \"$1\"`; git commit --fixup \"$SHA\" && GIT_SEQUENCE_EDITOR=true git rebase --interactive --autosquash \"$SHA^\"; }; f"
	
	# Interactive rebase
	ir = "!f() { git rebase -i `git merge-base HEAD master`; }; f"
	
	# What's changed after doing `git pull`
	news = log HEAD@{1}..HEAD@{0}
	
[user]
	email = aidan.gallagher@intl.att.com
	name = Aidan Gallagher
[credential]
	helper = store
[core]
	editor = code --wait
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[pull]
        rebase = true
